@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --cor1: #1669D6;
    --cor2: #13295a;
    --cor3: #101829;
    --cor4: #1AAB47;
    --cor5: #178f3d;
    --fonte1: "Poppins", serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(45deg, var(--cor3), var(--cor2)) no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--fonte1);
}
header{
    display: flex;
    justify-content: center;
    width: 96%;
    padding: 0 2%;
    height: 8vh;
    background-color: var(--cor1);
}
#titulo{
    display: flex;
    align-items: center;
}
img{
    width: 40px;
    height: 40px;
}
h1{
    font: 100 2rem 'Anton', sans-serif;
    letter-spacing: 2px;
    color: white;
}
#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 15vh;
    margin: 1.5% 35%;
}
#formulario input{
    border: 0;
    background-color: #00000000;
    color: white;
    border-bottom: 1px solid white;
    outline: 0;
    font-size: 17px;
    width: 100%;
    padding-left: 1%;
}
#formulario button{
    border: 0;
    border-radius: 6px;
    background: linear-gradient(var(--cor4), var(--cor5));
    color: white;
    width: 40%;
    height: 35%;
    font: 500 16px;
    letter-spacing: 1px;
}
#formulario button:hover{
    filter: brightness(0.9);
    transform: scale(1.01);
}
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 25vh;
    padding: 0 5% 3%;
    width: 90%;
}
.cardCategoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    
    width: 70%;
    height: 80%;
    margin: 10% 15%;
    padding-bottom: 2%;
    
    background-color: var(--cor1);
    color: white;
    
    font: 16px var(--fonte1);
    text-align: center;
    border: 2px solid white;
    border-radius: 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.cardCategoria:hover{
    scale: 101%;
}
.iconeCard{
    font-size: 34px;
}
.botoesCard{
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 20%;
}
.btnCard{
    border: 0;
    border-radius: 6px;
    width: 46%;
    height: 100%;
    font-weight: 500;
    background: linear-gradient(white, #d1d1d1);
}
.btnVerCategoria{
    width: 90%;
    height: 20%;
    color: white;
    background: linear-gradient(var(--cor4), var(--cor5));
}
.btnCard:hover{
    filter: brightness(0.9);
    transform: scale(1.01);
}

@media (max-width: 500px) {
    #formulario{
        width: 80%;
        margin: 1.5% 10%;
    }
    header{
        height: 5.5vh;
    }
    #titulo{
        width: 30%;
    }
    img{
        width: 30px;
        height: 30px;
    }
    h1{
        font: 100 26px 'Anton', sans-serif;
        color: white;
    }
    main{
        padding: 0 2.5% 3%;
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 22vh;
    }
    .cardCategoria{
        width: 90%;
        height: 90%;
        margin: 10% 5%;
    }
    .btnVerCategoria{
        height: 18%;
    }
}